#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  background-color: black;
  padding: 10px 0;
}

#board {
  position: relative;
}

#grid {
  background-color: #292b39;
}

#game {
  position: absolute;
  left: 0;
}