#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    background-color: black;
    padding: 10px 0;
}

#game {
    border: 1px solid white
}